.hotkey-capture-dialog>.window {
    padding: 18px 24px;
}

.hotkey-capture-dialog h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.hotkey-capture-dialog .hotkey {
    background-color: var(--secondary-dark);
    padding: 8px 12px;
    margin: 16px 0;
    display: block;
    text-align: center;
    user-select: none;
    border-radius: 3px;
}

.hotkey-capture-dialog .buttons {
    display: flex;
}

.hotkey-capture-dialog .buttons button:not(:last-child) {
    margin-inline-end: 8px;
}