.settings-view h1 {
    margin: 0.7rem 1rem;
    font-weight: 100;
}

.settings-view h2 .fa-angle-right:before {
    margin: 0 12px;
}

.settings-view .tab-bar {
    display: flex;
}

.settings-view .tab-bar button {
    border: none;
    flex: 1;
    border-top: 1px solid var(--secondary-dark);
    border-bottom: 1px solid var(--secondary-dark);
    background: var(--secondary);
    height: 2rem;
}

.settings-view .tab-bar button.selected, .settings-view .tab-bar button:hover.selected, .settings-view .tab-bar button:focus.selected {
    box-shadow: inset 0 -3px 0px var(--primary);
}

.settings-view .tab-bar button:not(:last-child) {
    border-right: 1px solid var(--secondary-dark);
}

.settings-view .tab-bar button:hover {
    background-color: var(--secondary-light);
}

.settings-view .tab-bar button:focus, .settings-view .tab-bar button:hover {
    box-shadow: none;
}

.settings-view .page {
    padding: 8px 24px;
    overflow-y: auto;
    max-height: calc(100vh - 148px);
}

.settings-view .page-0 {
    margin: 0 auto;
    height: 100vh;
}

.settings-view .page-0 section {
    display: flex;
    justify-content: space-between;
    padding-block-end: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-block-end: 1px solid var(--text-on-secondary);
    border-block-end-style: groove;
    align-items: center;
}

.settings-view .page-0 section .title, .settings-view .page-0 section .desc {
    display: block;
}

.settings-view .page-0 section .desc {
    opacity: 0.6;
    font-size: 0.9rem;
}

.settings-view .page-0 section button.standard {
    width: 100px;
}

.settings-view .page-0 .theme {
    width: 84px;
}

.settings-view .path-picker>ul, .settings-view .filtered-pattern-picker>ul {
    height: 50vh;
}