.welcome-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.welcome-view h1 {
    font-weight: 100;
    margin-block-end: 0;
}

.welcome-view h1 .fas {
    margin-right: 12px;
}

.welcome-view .page {
    flex: 1;
    max-width: 75vw;
    margin-block-start: 8rem;
    height: 100%;
}

.welcome-view .arrow-button {
    border-width: 0;
    background-color: var(--secondary);
    margin: 0 12px;
    font-size: 1.3rem;
    width: 32px;
    border-radius: 2px;
}

.welcome-view .arrow-button:disabled {
    color: transparent;
}

.welcome-view .arrow-button:focus {
    box-shadow: none;
}

.welcome-view .arrow-button:not(:disabled):hover {
    background-color: var(--secondary-light);
}

.welcome-view .page-0 {
    margin-block-end: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.welcome-view .page-0 h1 {
    margin-block-end: 0.67em;
}

.welcome-view .page-0 .tip {
    max-width: 240px;
}

.welcome-view .page-0 .set-path {
    margin-block-start: 1rem;
    font-size: 1.1rem;
    padding: 6px 20px;
    height: auto;
}

.welcome-view .page-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-view .page-1 .filtered-pattern-picker {
    width: 90%;
    height: calc(100vh - 360px);
}

.welcome-view .page-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-view .page-2 .path-picker {
    width: 90%;
    height: calc(100vh - 320px);
}

.welcome-view .page-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-block-start: 0;
    padding: 0 12px;
}

.welcome-view .page-3 h1 {
    margin-block-start: 6rem;
}

.welcome-view .page-3 .ide-picker {
    width: 100%;
}

.welcome-view .page-3 .ide-picker .loading {
    margin-block-start: 6rem;
}

.welcome-view .page-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
    margin-block-start: 0;
}

.welcome-view .page-4 .fa-check {
    color: forestgreen;
    font-size: 2rem;
}

.welcome-view .page-4 .primary {
    font-size: 1.1rem;
    margin-block-start: 4rem;
    padding: 4px 12px;
    height: auto;
}