.hotkey-setting {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.hotkey-setting .fas {
    border: none;
    padding: 6px;
    margin-inline-start: 6px;
    font-size: 0.8rem;
    background-color: transparent;
    border-radius: 3px;
}

.hotkey-setting .fas:hover {
    background-color: var(--primary);
}

