.background, .noise {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -2;
}

nav {
    -webkit-app-region: drag;
    user-select: none;
    height: 36px;
    background-color: var(--secondary-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .title {
    padding: 0 8px;
    color: var(--text-on-secondary);
}

nav .corner-button {
    height: 36px;
    width: 36px;
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: default;
    background-color: transparent;
    -webkit-app-region: no-drag;
}

nav .corner-button:hover {
  opacity: 0.7;
}

/* nav .corner-button:focus {
    box-shadow: none;
} */

nav .corner-button .fas {
    margin: auto;
    text-align: center;
    width: 100%;
    display: block;
    color: var(--text-on-secondary);
}