.ide-picker .loading {
    text-align: center;
}

.ide-picker section {
    margin-block-end: 2rem;
}

.ide-picker section .section-header {
    display: flex;
    align-items: center;
}

.ide-picker section .section-header img {
    margin-right: 16px;
    height: 16px;
}

.ide-picker section .section-header h2 {
    font-weight: 100;
    margin: 0 0 4px 0;
}

.ide-picker section .section-header .line {
    height: 1px;
    background: var(--box-alt-background-color);
    flex: 1;
    margin-left: 24px;
}

.ide-picker section ul {
    margin-block-start: 0.5rem;
    padding: 0;
}

.ide-picker section ul li {
    list-style-type: none;
    border: 2px solid var(--secondary-dark);
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-block-end: .5rem;
}

.ide-picker section ul li .primary-details {
    display: flex;
    align-items: center;
}

.ide-picker section ul li.selected {
    border-color: var(--primary);
}

.ide-picker section ul li img {
    height: 16px;
    margin-right: 8px;
}

.ide-picker .other-inputs {
    display: block;
    margin-block-start: 0.5rem;
}

.ide-picker .other-inputs>* {
    display: flex;
    align-items: center;
    margin-block-end: 0.5rem;
}

.ide-picker .other-inputs label {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 0.8rem;
    width: 120px;
}

.ide-picker .other-inputs input {
    padding: 5px 8px;
    width: -webkit-fill-available;
}

.ide-picker .other-inputs {
    display: block;
    margin-block-start: 0.5rem;
}