.project {
  user-select: none;
}
.projectText {
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  overflow-x: hidden;
}
.navListItemIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
