

.pom-list li {
    user-select: none;
    display: flex;
    color: var(--text-on-secondary);
    padding: 8px 8px 12px 40px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: rgb(0, 0, 0, .4);
    background-color: var(--secondary);
    font-weight: normal;
  }
  
  .pom-list li:not(.no-interaction) {
    cursor: pointer;
  }
  
  .pom-list li:not(.no-interaction):hover {
    background-color: var(--secondary-light);
  }
  
  .pom-list li:not(.no-interaction):active {
    background-color: var(--secondary-dark);
  }
  
  .pom-list li.no-interaction {
    opacity: 0.5;
    font-style: italic;
  }
  
  .pom-list li.selected {
    background-color: var(--primary);
    color: var(--text-on-primary);
  }
  
  .pom-list li:not(.no-interaction).selected:hover {
    background-color: var(--primary-light);
  }
  
  .pom-list li:not(.no-interaction).selected:active {
    background-color: var(--primary-dark);
  }
  
  .pom-list li>.primary-info {
    flex: 1;
  }
  
  .pom-list li>.primary-info>.artifact-id {
    position: relative;
  }
  
  .pom-list li>.primary-info>.artifact-id img {
    height: 8px;
    position: absolute;
    top: calc(50% - 2px);
    right: calc(100% + 8px);
  }
  
  .pom-list li>.primary-info>.artifact-id span {
    font-size: 1.1rem;
  }
  
  .pom-list li>.primary-info>.path {
    font-size: 0.8rem;
    margin-top: 4px;
    font-weight: 500;
  }
  
  .pom-list li>.primary-info>.path>.fa-folder-open {
    border: none;
    font-size: 0.75rem;
    background: transparent;
    opacity: 0.5;
  }
  
  .pom-list li>.primary-info>.path>.fa-folder-open:hover {
    opacity: 1;
  }
  
  .pom-list li:not(.selected)>.primary-info>.path, .pom-list li:not(.selected).click-count {
    opacity: 0.6;
  }
  
  .pom-list li .end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 12px;
  }
  
  .pom-list li .end .click-count {
    font-size: 0.8rem;
    font-weight: 500;
  }