@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap');

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #bbbbbb77;
    min-height: 80px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
